---
layout: default
home: true
---
<h3 class="posts-item-note" aria-label="Projects">Projects</h3>
{%- for post in site.posts limit: site.number_of_posts -%}
<article class="post-item">
  <h4 class="post-item-title" href="{{ post.url }}">
    <div class="project-clickable" onclick="window.location='{{ post.url }}';">
      <div class="project-title">
        <h3>{{ post.title | escape }}</h3>
      </div>
      <img class="author-avatar" src="{{ post.image | escape }}" alt="vicnetto">
      </br>
      <a">{{ post.description | escape }}</a>
    </div>
  </h4>
</article>
{%- endfor -%}
